.samplesoc-btn-white-purple {
	font-weight: 500;
	color: #1e1c4b;
	border-color: #1e1c4b;
	background-color: white;
}

.samplesoc-btn-white-purple:active, .samplesoc-btn-white-purple:hover {
	color: white;
	background-color: #1e1c4b;
	border-color: #1e1c4b;
}

.samplesoc-btn-purple {
  color: white;
  background-color: #2d2970;
  border-color: #2d2970;
}

.samplesoc-btn-purple:hover {
  color: white;
  background-color: #1e1c4b;
  border-color: #1e1c4b;
}