.samplesoc-footer {
	font-size: 80%;
	text-align: center;
	background-color: #495150;
}

.samplesoc-footer a {
	color: #9ab3b9;
}

.samplesoc-footer p {
	margin-bottom: 0;
}

.samplesoc-footer {
	text-align: left;
}

.samplesoc-footer-links {
	padding-left: 0;
	margin-bottom: 0rem;
}

.samplesoc-footer-links li {
	display: inline-block;
}

.samplesoc-footer-links li+li {
	margin-left: 0.6rem;
}